
/***index.php,register.php***/
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}
body{
    background-color: #f0f0f0;

}
.logo{
    font-size: 25px;
    font-weight: 900;
    color: #f44336;
}
.right-links a{
    padding: 0 10px;
}

.sub-logo{
    color: #4285f4;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    
}
.box{
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0,0.1),0 32px 64px -48px rgba(0,0,0,0.5);

}

.form-box{
    width: 450px;
    margin: 0px 10px;
}
.register-box{
    padding: 25px 40px;
    margin: 30px 0px;

}
.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;


}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;

}
.btn{
    background-color:#4285f4;
    height:35px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;

}
.btn:hover{
    opacity: 0.82;
}
.back-btn{
    background-color: #4CAF50;
}
.send-btn{
    background-color: #f44336;
}
.submit{
    width: 100%;
}
.link{
    margin-bottom: 10px;
    margin-top: 20px;
}
.ErrorMessageBox{
    text-align: center;
    background-color:#f9eded ;
    padding: 15px 0px;
    border: 1px solid ;
    border-radius: 5px;
    color:red;

}
.SuccessMessageBox{
    text-align: center;
    background-color:#d9f9d9;
    padding: 15px 0px;
    border: 1px solid ;
    border-radius: 5px;
    color:#006400;

}



/***uploadPrescription.php***/
.nav{
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
}

.fileUpload::-webkit-file-upload-button{
    background-color:#4285f4;
    height:35px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    padding: 0px 10px;
}
#fileUpload{

    padding: 5px 0;
    border:none;

}

textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;
}
select{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    font-size:16px;
    padding: 5px 10px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;
}

/*viewPrescriptions.php*/
.view-box{
    margin: 0px 10px;
   
}
table {
    border-collapse: collapse;
    width: 100%;
}


th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    
}

tr:hover {
    background-color: #f5f5f5;
}

.quotation-btn {
    display: inline-block;
    margin: 0;
    opacity: 0.5;
    width: 80px;
}
.quotation-btn:hover{
  
    opacity: 0.5;
  
}
.not-quoted{
    opacity: 1;
    width: 80px;
}

.pending{
    padding: 4px 6px; /* Adjust padding as needed */
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    color: #FFD700;
    width:100px;
}
.rejected{
    padding: 4px 6px; /* Adjust padding as needed */
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    color: #FF0000;
}
.accepted{
    padding: 4px 6px; /* Adjust padding as needed */
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    color: #008000;
}


/*prepareQuotation.php*/

.view-box{
    display: flex;
    flex-direction: row;
    padding: 50px 40px;
    

}


#big-image {
    max-width: 380px;
    max-height: 400px; 
    min-width: 380px;
    min-height: 400px; 
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
    width:100%;
    height:100%;
}

#small-image-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.small-images {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;

}
.image-viewer{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-right: 10px;
   width:400px;
    
}

#invoice-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    margin-left: 10px;
    
    
}
.products{
    
    margin-bottom: 2rem;
}
.products table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.add-products{
    
}
.total{
    color: #f44336;
}

#invoice-container .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}
#invoice-container input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border:1px solid #ccc;
    outline: none;
}

.back-btn{
    border :1px solid;
}

/*sendQuotaion.php*/
.sendQuotation-links {
    display: flex;
}
/*viewAllQuotations.php*/


.view-btn{
    margin:0;
}




/*viewOneQuotation.php*/
.invoice {
    width: 100%;
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.total {
    margin-top: 20px;
    text-align: right;
    font-weight: bold;
}
.accept-reject{
    margin-top: 20px;
    text-align: center;
}
.accept-btn{
    background-color: #4caf50;
}
.reject-btn{
    background-color: #ff4d4d;

}






















@media screen and (max-width: 830px) {
    table{
        font-size: 12px;
    }
    .quotation-btn {
        height:25px;
        font-size: 12px; 
    }

}
@media screen and (max-width: 705px) {
    table{
        font-size: 10px;
    }

}
@media screen and (max-width: 645px) {
    table{
        font-size: 8px;
    }

}
@media screen and (max-width: 600px) {
    table{
        font-size: 6px;
    }
    .quotation-btn {
        font-size: 6px;
        height:20px;
    }

}

